[Desktop Entry]
Categories=Development;IDE;
Exec=idea-wrapper
GenericName=The JavaScript and TypeScript IDE
Icon=com.jetbrains.WebStorm
Keywords=development;javascript;webstorm;
Name=WebStorm
StartupNotify=true
StartupWMClass=webstorm
Terminal=false
Type=Application
