[Desktop Entry]
Categories=Development;IDE;
Exec=webstorm
GenericName=The smartest JavaScript IDE
Icon=com.jetbrains.WebStorm
Keywords=development;javascript;webstorm;
Name=WebStorm
StartupNotify=true
StartupWMClass=webstorm
Terminal=false
Type=Application
