[Desktop Entry]
Categories=Development;IDE;
Exec=webstorm-wrapper %F
GenericName=JavaScript and TypeScript IDE
Icon=com.jetbrains.WebStorm
Keywords=development;javascript;webstorm;
MimeType=text/plain;inode/directory;
Name=WebStorm
StartupNotify=true
StartupWMClass=jetbrains-webstorm
Terminal=false
Type=Application
